USE [master]
GO
/****** Object:  Database [Foody]    Script Date: 07/07/2024 8:58:02 CH ******/
CREATE DATABASE [Foody]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Foody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRONGTIEN\MSSQL\DATA\Foody.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Foody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRONGTIEN\MSSQL\DATA\Foody_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Foody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Foody]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1000) NOT NULL,
	[UserID] [int] NULL,
	[FoodID] [int] NULL,
	[ProductID] [int] NULL,
 CONSTRAINT [PK__Cart__51BCD797CA9556C3] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Food]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Food](
	[FoodID] [int] IDENTITY(1,1000) NOT NULL,
	[FoodName] [nvarchar](100) NULL,
	[FoodStatus] [bit] NULL,
	[ProductID] [int] NULL,
	[FoodStep] [nvarchar](100) NULL,
	[FoodPrice] [int] NULL,
	[FoodImage] [varchar](50) NULL,
	[MenuID] [int] NULL,
 CONSTRAINT [PK__Food__856DB3CBBE163BA4] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [int] IDENTITY(1,1000) NOT NULL,
	[MenuName] [nvarchar](50) NULL,
	[MenuDate] [int] NULL,
	[UserID] [int] NULL,
	[MenuStatus] [bit] NULL,
	[MenuTag] [nvarchar](50) NULL,
 CONSTRAINT [PK__Menu__C99ED2506B8F3962] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuDetail]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetail](
	[MenuID] [int] NOT NULL,
	[MenuDay] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
 CONSTRAINT [PK_MenuDetail] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[MenuDay] ASC,
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1000) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[OrderStatus] [bit] NOT NULL,
	[OrderTotalPrice] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[FoodPrice] [int] NOT NULL,
 CONSTRAINT [PK__Order__C3905BAF7EEE68EF] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1000) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductStatus] [bit] NULL,
	[ProductPrice] [int] NULL,
	[ProductImage] [varchar](50) NULL,
 CONSTRAINT [PK__Product__B40CC6ED7B100C22] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/07/2024 8:58:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1000) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Role] [bit] NULL,
	[Password] [varchar](100) NULL,
	[MenuID] [varchar](50) NULL,
	[OrderID] [varchar](50) NULL,
	[UserStatus] [bit] NULL,
	[CartID] [varchar](50) NULL,
 CONSTRAINT [PK__User__1788CCAC889903C8] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__FoodID__1ED998B2] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__FoodID__1ED998B2]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([MenuID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Menu]
GO
ALTER TABLE [dbo].[MenuDetail]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetail_Food] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[MenuDetail] CHECK CONSTRAINT [FK_MenuDetail_Food]
GO
ALTER TABLE [dbo].[MenuDetail]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetail_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([MenuID])
GO
ALTER TABLE [dbo].[MenuDetail] CHECK CONSTRAINT [FK_MenuDetail_Menu]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__UserID__1B0907CE] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__UserID__1B0907CE]
GO
USE [master]
GO
