<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CheckUserFilter</filter-name>
        <filter-class>Filter.CheckUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EncodePasswordFilter</filter-name>
        <filter-class>Filter.EncodePasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DecodePasswordFilter</filter-name>
        <filter-class>Filter.DecodePasswordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckUserFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodePasswordFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DecodePasswordFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoodListServlet</servlet-name>
        <servlet-class>Controller.GetFoodListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuFoodServlet</servlet-name>
        <servlet-class>Controller.GetMenuFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyFoodServlet</servlet-name>
        <servlet-class>Controller.BuyFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-class>Controller.LoadCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewMenuServlet</servlet-name>
        <servlet-class>Controller.InsertNewMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <servlet-class>Controller.AddFoodToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>Controller.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodCartServlet</servlet-name>
        <servlet-class>Controller.AddFoodCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCartServlet</servlet-name>
        <servlet-class>Controller.GetCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuDayServlet</servlet-name>
        <servlet-class>Controller.GetMenuDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuDetailServlet</servlet-name>
        <servlet-class>Controller.GetMenuDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoodDetailServlet</servlet-name>
        <servlet-class>Controller.GetFoodDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToMenu</servlet-name>
        <servlet-class>Controller.AddFoodToMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToMenuFormServlet</servlet-name>
        <servlet-class>Controller.AddFoodToMenuFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <servlet-class>Controller.DeleteMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashBoardServlet</servlet-name>
        <servlet-class>Controller.StaffDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>Controller.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductCartServlet</servlet-name>
        <servlet-class>Controller.AddProductCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMenuServlet</servlet-name>
        <servlet-class>Controller.SearchMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderFormServlet</servlet-name>
        <servlet-class>Controller.OrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>Controller.GetOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToMenuServlet</servlet-name>
        <servlet-class>Controller.AddFoodToMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMenuDetailAfterAddServlet</servlet-name>
        <servlet-class>Controller.GetMenuDetailAfterAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodMenuServlet</servlet-name>
        <servlet-class>Controller.DeleteFoodMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>Controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFoodListServlet</servlet-name>
        <url-pattern>/GetFoodListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuFoodServlet</servlet-name>
        <url-pattern>/GetMenuFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyFoodServlet</servlet-name>
        <url-pattern>/BuyFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServlet</servlet-name>
        <url-pattern>/LoadCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewMenuServlet</servlet-name>
        <url-pattern>/InsertNewMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <url-pattern>/AddFoodToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/AddProductToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodCartServlet</servlet-name>
        <url-pattern>/AddFoodCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCartServlet</servlet-name>
        <url-pattern>/GetCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuDayServlet</servlet-name>
        <url-pattern>/GetMenuDayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuDetailServlet</servlet-name>
        <url-pattern>/GetMenuDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFoodDetailServlet</servlet-name>
        <url-pattern>/GetFoodDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToMenu</servlet-name>
        <url-pattern>/AddFoodToMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToMenuFormServlet</servlet-name>
        <url-pattern>/AddFoodToMenuFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <url-pattern>/DeleteMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashBoardServlet</servlet-name>
        <url-pattern>/StaffDashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductCartServlet</servlet-name>
        <url-pattern>/AddProductCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMenuServlet</servlet-name>
        <url-pattern>/SearchMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderFormServlet</servlet-name>
        <url-pattern>/OrderFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToMenuServlet</servlet-name>
        <url-pattern>/AddFoodToMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMenuDetailAfterAddServlet</servlet-name>
        <url-pattern>/GetMenuDetailAfterAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodMenuServlet</servlet-name>
        <url-pattern>/DeleteFoodMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
